<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	 <!-- DataSources cfg -->
	 <bean id="dmds"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	     <property name="driverClassName" value="${jdbc.driver}"/>
	     <property name="url"  value="${jdbc.url}"/>
	     <property name="username" value="${db.user}"/>
	     <property name="password" value="${db.pwd}"/>
	 </bean>
	 
	 
	 <!-- DAO classes cfg -->
	 <bean id="oraCustDAO"   class="com.nt.dao.CustomerOracleDAOImpl">
	       <constructor-arg name="ds"  ref="dmds"/>
	 </bean>
	 
	  <bean id="mysqlCustDAO"   class="com.nt.dao.CustomerMySQLDAOImpl">
	       <constructor-arg name="ds"  ref="dmds"/>
	 </bean>
	 
	 <!-- service class cfg -->
	 <bean id="custService"  class="com.nt.service.CustomerMgmtServiceImpl">
	       <constructor-arg name="dao" ref="${db.dao}"></constructor-arg>  
	 </bean>
	 
	 <!-- Controller class cfg -->
	 <bean id="controller"  class="com.nt.controller.MainController">
	         <constructor-arg  name="service" ref="custService"/>
	 </bean>
	
	<context:property-placeholder location="com/nt/commons/jdbc.properties"/>


</beans>
