<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- <bean id="b1"  class="com.nt.beans.B">
    <property name="a" ref="a1"/>
</bean>
  
  <bean id="a1"  class="com.nt.beans.A">
     <property name="b"  ref="b1"/>
  </bean> -->
  
  
   <bean id="b1"  class="com.nt.beans.B">
    <constructor-arg  name="a" ref="a1"/>
</bean>
  
  <bean id="a1"  class="com.nt.beans.A">
     <constructor-arg name="b" ref="b1"/>
  </bean> 
  
  

</beans>