<html xmlns:th="https://thymeleaf.org">    

 <h1 style="color:blue;text-align:center">  Login Page </h1>

<form th:action="@{/login}"  method="POST">
    <table border="0" bgcolor="cyan"  align="center">
        <tr>
               <td>  username :: </td>
               <td>  <input type="text"  name="username" /> </td>
        </tr>
         <tr>
               <td> password :: </td>
               <td>  <input type="password" name="password" /> </td>
        </tr>
        <tr>
               <td> <input type="submit"  value="Login"> </td>
               <td> <input type="reset"  value="cancel"> </td> 
        </tr>
    </table>
</form>