<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Cfg Dependent classes -->
  <bean id="dtdc"  class="com.nt.comp.DTDC"/>
  <bean id="bDart"  class="com.nt.comp.BlueDart"/>
  <bean id="fEx"  class="com.nt.comp.FedEx"/>
  
  <!-- Cfg target class -->
  <bean id="fpkt"  class="com.nt.comp.Flipkart">
       <property name="courier" ref="bDart"/>
  </bean>


</beans>